<!-- <p>data-binding works Ola Samir funçao!</p>
<section>
    <article>
        <h3>Titulo </h3>
        <p>string relaizado com intepretaçao {{ url }} </p>
        <p>Resultado de 1+1 é: {{ 1 + 1 }} </p>
        <p>Resultado de 1+1 não é: {{ 1 + 1 + getValor() }} </p>
    </article> -->
    
    <!-- <article>
        <h3>subt titulo Propiedade</h3> -->
        <!-- Interpolaçao -->
<!--         <img src="{{ urlImagem }}">
 -->        <!-- otra forma de propiedade -->
      <!--   <img [src]="urlImagem" >
        <br> -->
      <!--   <label for="">Nombre de curso:</label>
        <input type="text" [value]="nome_curso">
    </article>
 -->
  <!--   <article>
        <h3>Clas e Style Binding</h3>
        <select #classe (change)="0">
            <option value="verde">Verde</option>
            <option value="azul">Azul</option>
            <option value="vermelho">Vermelho</option>
            <option value="laranja">Laranja</option>
        </select>
       <br> <br>
       A clases selecionada é: {{ classe.value }}
       <p [class]="classe.value" > Um texto para ser colorido</p>
  <p  [style.display] = "classe.value == 'vermelho' ? 'block' : 'nome'" [class] = "classe.value" > 
     Voce escolheo vermelho!
  </p> 
    </article>
</section> -->
